.menu-header {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 4;
  width: 1440px;
  height: 75px;
  display: flex;
  background: #ffffff;
  align-items: center;
  justify-content: space-between;
}
.sign-in {
  display: flex;
  align-items: center;
  padding: 11px;
}
.dangnhap {
  width: 66px;
  right: 58px;

  text-decoration: none;
  font-family: "Courier New", Courier, monospace;
  font-style: normal;
  background-color: white;
  border: none;
}

/* ==========================HEADER=======================================*/
.logo {
  display: flex;
  padding-left: 40px;
  align-items: center;
  box-sizing: content-box;
  width: 100%;
}

.line {
  width: 48px;
  height: 0px;
  border: 1px solid #003b5b;
  transform: rotate(90deg);
}
.imge2 {
  width: 76px;
  height: 74px;
  margin-top: 1px;
}

/*========================BACKGROUND==============================*/
body {
  background-color: #e5e5e5;
}
.title1 {
  position: relative;
}
.item1 {
  position: absolute;
  width: 255px;
  height: 255px;
  left: -132px;
  top: 755px;
  z-index: 1;
  background: #da0f0f;
  border-radius: 50%;
}

.item2 {
  position: absolute;
  width: 255px;
  height: 255px;
  left: 596px;
  top: -174px;

  background: #f71616;
  border-radius: 50%;
}
.item3 {
  position: absolute;
  width: 623px;
  height: 623px;
  margin-left: 851px;
  margin-top: -261px;
  z-index: 2;
  border-radius: 50%;
}
.item4 {
  position: absolute;
  width: 255px;
  height: 255px;
  margin-left: 1326px;
  margin-top: 96px;
  z-index: 1;
  background: #003b5b;
  border-radius: 50%;
}
.item5 {
  position: absolute;
  width: 344px;
  height: 32px;
  margin-left: 1143px;
  margin-top: 362px;
  z-index: 1;
  background: #c4c4c4;
}
/*============================CONTENT=============================================*/
.container_title {
  position: relative;
  z-index: 3;
}
.title2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row1 {
  width: 50%;
  flex-direction: column;
}
.text1 {
  position: absolute;
  width: 631px;
  height: 88px;
  left: 148px;
  top: 175px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-transform: capitalize;

  color: #000000;
}
.text2 {
  position: absolute;
  width: 411px;
  height: 59px;
  left: 148px;
  top: 268px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */

  text-transform: uppercase;

  color: #da2a1b;
}
.text3 {
  position: absolute;
  width: 608px;
  height: 68px;
  left: 148px;
  top: 352px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;

  color: #000000;
}
.text4 {
  position: absolute;
  width: 541px;
  height: 37px;
  left: 148px;
  top: 477px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  /* identical to box height */

  /* Main / 1 */

  color: #003b5b;
}
.text5 {
  position: absolute;
  width: 608px;
  height: 34px;
  left: 148px;
  top: 544px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: justify;

  color: #000000;
}

.text6 {
  position: absolute;
  width: 455px;
  height: 17px;
  left: 202px;
  top: 748px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;

  color: #000000;
}
.btn_sign_in {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 20px 6px;
  gap: 8px;

  position: absolute;
  width: 119px;
  height: 38px;
  left: 370px;
  top: 795px;

  /* Main / 1 */

  background: #003b5b;
  border-radius: 20px;
}
.text_btn1 {
  width: 79px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.row2 {
  flex-direction: column;
}
.text1_row2 {
  position: absolute;
  width: 412px;
  height: 29px;
  left: 956px;
  top: 477px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  /* Main / 1 */

  color: #003b5b;
}
.text2_row2 {
  position: absolute;
  width: 393px;
  height: 17px;
  left: 966px;
  top: 748px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
.img_row2 {
  position: absolute;
  width: 129px;
  height: 188px;
  left: 1097px;
  top: 524px;
  filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.25));
}
.btn_visit {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px 20px 6px;
  gap: 8px;

  position: absolute;
  width: 91px;
  height: 38px;
  left: 1117px;
  top: 795px;

  background: #da2a1b;
  border-radius: 20px;
}
.text_btn2 {
  width: 51px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* ================================================TEXT_CONTAINER========================================================================*/
.container_nav {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.nav_row_1 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.nav_row_2 {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.box1 {
  width: 75px;
  height: 75px;
  margin-top: 608px;
  margin-bottom: 238px;
  margin-right: 1px;
  margin-left: 162px;
  border-radius: 50%;
  border: 4px solid #003b5b;
}
.box2 {
  width: 75px;
  height: 75px;
  margin-top: 608px;
  margin-bottom: 238px;
  margin-right: 163px;
  margin-left: 122px;
  border-radius: 50%;
  border: 4px solid #003b5b;
  /* Main / 1 */
}
.box3 {
  width: 75px;
  height: 75px;
  margin-top: 608px;
  margin-bottom: 238px;
  margin-right: 116px;
  margin-left: 1px;
  border-radius: 50%;
  border: 4px solid #003b5b;
}
.step1 {
  margin-top: 25px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.step2 {
  margin-top: 25px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.step3 {
  margin-top: 25px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;

  color: #000000;
}
.text_box1 {
  width: 144px;
  height: 17px;
  padding-top: 701px;
  padding-bottom: 186px;
  padding-right: 49px;
  padding-left: 147px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
}
.text_box2 {
  width: 170px;
  height: 17px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #000000;
  padding-top: 701px;
  padding-right: 49px;
  padding-left: 48x;
}
.text_box3 {
  width: 178px;
  height: 34px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  color: #000000;
  padding-top: 701px;
  padding-bottom: 1px;
  padding-right: 1px;
  padding-left: 1px;
}
/*----------------------------FOOTER------------------------------------*/
.gruop404 {
  z-index: 4;
  position: relative;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
  background: #003b5b;
  width: 1440px;
  height: 34px;
  margin-top: 865px;
}
.landing_page {
  display: flex;
  align-items: center;
}
.text_footer1 {
  padding: 40px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  color: #ffffff;
}
.text_footer2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #ffffff;
}
.text_footer3 {
  padding: 16px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-decoration-line: underline;

  color: #ffffff;
}
.wrap {
  display: flex;
  align-items: center;
}
