* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(198, 193, 249);
}
.container {
  margin: 50px auto;
  width: 500px;
  height: 30px;
}
.input {
  font-family: "Courier New", Courier, monospace;
}
.screen {
  background-color: white;
  width: 100%;
  height: 30px;
  position: relative;
}
.ban_phim {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.item {
  height: 50px;
  outline: none;
  border: 0.1px solid rgb(198, 193, 249);
}
